@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Pirata One", system-ui;
   font-weight: 400;
   font-style: normal;
   scroll-behavior: smooth;
   overflow: visible;
}


body,html {
    overscroll-behavior: none;
}

body {
  background-image: url('assets/background.png');

  background-size: cover;

  background-position: center;

 
  background-repeat: no-repeat;

 
  background-attachment: fixed;

 
  height: 100%;
  margin: 0;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}



img {
    width: 600px;
    height: 500px;
    border-radius: 24px;
    border: 3px solid black;
    box-shadow: rgb(138, 1, 1) -5px 5px, rgba(138, 1, 1, 0.454) -10px 10px, rgba(138, 1, 1, 0.386) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    object-fit: cover;
    object-position: center;

}

img:hover {
    animation: tilt-shaking 300ms ease-in-out  ;
}


  .footer__img {
        width: 160px;
        height: 100px;
        box-shadow: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
    }


nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 62px;
}

h1 {
    font-size: 80px;
    color: rgba(186, 0, 0, 0.796);
    margin-top: 48px;
}



a {
    text-decoration: none;
    padding-right: 16px;
    font-size: 32px;
    color: black;
  background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
  display: inline-block;
  padding: 0 .5em 0.2em;
  text-decoration: underline;
  transition: background-size 0.5s;
}

a:hover {
  color: rgb(255, 118, 141);
}


section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
}

.patterson {
    color: black;
}

h2 {
    color: tan;
    font-size: 62px;
    margin: 36px 0
}

div {
    justify-content: center;
    align-items: center;
    justify-content: center;
}

p {
    color: rgba(190, 0, 0, 0.837);
    font-size: 32px;
    margin-bottom: 32px;
    margin: 0 auto
}

div {
    text-align: center;
}

.registry__btn {
    margin-top: 48px;
    margin-bottom: 24px;
    padding: 12px 32px;
    font-size: 22px;
    color: rgb(162, 16, 16);
    background-color: black;
    border: 1px solid rgb(162, 16, 16);
    border-radius: 5px;
    transition: all 300ms ease;
    box-shadow: rgb(138, 1, 1) -5px 5px, rgba(138, 1, 1, 0.454) -10px 10px, rgba(138, 1, 1, 0.386) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.rsvp__btn {
    margin-top: 48px;
    margin-bottom: 24px;
    padding: 12px 32px;
    font-size: 24px;
    color: rgb(162, 16, 16);
    background-color: black;
    border: 1px solid rgb(162, 16, 16);
    border-radius: 5px;
    transition: all 300ms ease;
    box-shadow: rgb(138, 1, 1) -5px 5px, rgba(138, 1, 1, 0.454) -10px 10px, rgba(138, 1, 1, 0.386) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.mab {
    margin: 0 auto;
}

.mab {
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
  font-family: sans-serif;
}

.registry__btn, .dropdown-toggle {
  padding: 10px 15px;
  cursor: pointer;
  transition: all 300ms ease;
  border: 1px solid;
}

.registry__btn:hover {
  background-color: black;
  transition: all 300ms ease;
  color: rgb(162, 16, 16);
}

.dropdown-toggle {
    margin-top: 32px;
    margin-bottom: 18px;
    padding: 12px 32px;
    font-size: 24px;
    color: rgb(162, 16, 16);
    background-color: black;
    border: 1px solid rgb(162, 16, 16);
    border-radius: 5px;
    transition: all 300ms ease;
    box-shadow: rgb(138, 1, 1) -5px 5px, rgba(138, 1, 1, 0.454) -10px 10px, rgba(138, 1, 1, 0.386) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.dropdown-toggle:focus-within .dropdown-content {
    display: block;
}

/* Dropdown Menu Logic */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 60px;
  top: 100%;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 15px;
  border: 4px solid black;
  margin-right: 60px;
  min-width: 140px;
  z-index: 1;
}

.dropdown-content {
  color: #333;
  padding: 12px 16px;
  display: block;
  color: black;
}



/* Show menu on hover or focus */
.dropdown:focus-within .dropdown-content {
  display: block;
  position: relative;
  background-color: rgb(162, 16, 16);
}



.rsvp__btn:hover {
    color: black;
    background-color: rgb(162, 16, 16) ; 
    transform: translateY(6px);
}

.footer__img {
    margin-top: 28px;
}

footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: black; 
  color: white; 
  text-align: center; 
  padding: 10px 0; 
}


body {
  margin-bottom: 50px; 
}

@media (max-width: 768px) {

    p {
        margin-bottom: 32px;
    }
     
    section {
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;
    }

      img {
        margin-bottom: 60px;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        box-shadow: none;
        object-fit: cover;
        object-position: center;

    }
    section {
        margin-top: 32px;
    }

    h1{
        text-align: center;
        padding: 32px 0px;
         margin-top: 0;
    }

    nav {
        padding-top: 24px;
    }


    a {
         margin-bottom: 12px;
    }

     .footer__img {
        width: 100px;
        height: 100px;
        margin-top: 64px;
    }

}
@media (max-width: 600px) {
     
    a{
         margin-bottom: 12px;
    }

    section {
        display: flex;
        flex-direction: column;
        margin-bottom: 148px;
    }

    img {
        margin-bottom: 60px;
        width: 310px;
        height: 300px;
        border-radius: 50%;
        box-shadow: none;
        object-position: center;

    }

    section {
        margin-top: 32px;
    }

    h1{
        text-align: center;
        font-size: 60px;
        margin-top: 0;
    }

   

    nav {
        padding-top: 24px;
    }

    a {
        font-size: 20px;
    }

    p{
        padding: 0 12px;
        margin-bottom: 24px;
        text-align: center;
        color: rgba(186, 0, 0, 0.796)
    }

     .footer__img {
        width: 90px;
        height: 90px;
        margin-top: 64px;
    }



}
@media (max-width: 500px) {

    a {
         margin-bottom: 12px;
    }
     
    section {
        display: flex;
        flex-direction: column;
        margin-bottom: 148px;
    }

    img {
        margin-bottom: 60px;
        width: 280px;
        height: 280px;
        border-radius: 50%;
        box-shadow: none;
        object-fit: cover;
        object-position: center;
    }

    section {
        margin-top: 32px;
    }

    h1{
        text-align: center;
        font-size: 60px;
        margin-top: 0;
    }


    nav {
        padding-top: 24px;
    }

    a {
        font-size: 20px;
    }

    p{
        padding: 0 12px;
        margin-bottom: 24px;
        text-align: center;
        color: rgba(186, 0, 0, 0.796)
    }

    .footer__img {
        width: 80px;
        height: 80px;
        margin-top: 64px;
    }

    .rsvp__btn {
        margin-bottom: 0;
    }

    .registry__btn {
        margin-bottom: 0;
    }

}

@media (max-width: 360px) {

    a {
         margin-bottom: 12px;
    }

    h1{
        font-size: 56px;
         margin-top: 0;
    }

    p {
        font-size: 28px;
    }

    img {
        border-radius: 50%;
         object-fit: cover;
        object-position: center;
    }

     .footer__img {
        width: 70px;
        height: 70px;
        margin-top: 64px;
    }
}

